.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 10px;
    background-color: #f1f1f1;
}
.card{
    margin: 5px;
    align-items:center;
    justify-content: center;
    position: none;
}
.coco{
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    padding: 50px;
}

.card-body{
    align-items: center;
    justify-content: center;
    position: none;
}
