/* style.css */

.formContainer {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 95%;
}


.formContainer input,
.formContainer textarea {
    width: 40%;
    margin: 10px;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


#realContainer{
    width: 95vw;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9
}

.idContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.formContainerdelete{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 95%;
}

.formContainerdelete input,
.formContainerdelete textarea {
    width: 20%;
    margin: 10px;
    padding: 2px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#Realtimeprod{
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    padding: 50px;

}

.card{
    margin: 5px;
}
